/* ==========================================================================
   Template: Default
   ========================================================================== */

// --- style
@import "core/style/_asset.scss";

.default {
  padding-top: 152px;
  @include large {
    padding-top: 104px;
  }
  @include medium {
    padding-top: 64px;
  }
}
