/* -------------------------------------------------------------------------- */
/* Init: Fonts                                                                */
/* -------------------------------------------------------------------------- */

@font-face {
  font-family: "Mulish";
  @include font-family("Mulish-Light");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  @include font-family("Mulish-LightItalic");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  @include font-family("Mulish-Regular");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  @include font-family("Mulish-RegularItalic");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  @include font-family("Mulish-SemiBold");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  @include font-family("Mulish-SemiBoldItalic");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  @include font-family("Mulish-Bold");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  @include font-family("Mulish-BoldItalic");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@include font-icon;
