/* -------------------------------------------------------------------------- */
/* Variables: Colors                                                          */
/* -------------------------------------------------------------------------- */

$colors: (
  blue: (
    1: #458ff6,
    2: #5b9bf3,
    3: #4089ed,
    4: #67c3f3,
    5: #5a98f2
  ),
  grey: #7d7987,
  black: #1f1534,
  white: #fff
);
