/* -------------------------------------------------------------------------- */
/* Variables: Shadow                                                          */
/* -------------------------------------------------------------------------- */

$shadow:(
  s10: 0 4px 10px rgba(0, 0, 0, 0.04),
  s20: 5px 12px 20px rgba(229, 233, 246, 0.4),
  s30: 5px 12px 30px rgba(229, 233, 246, 0.4),
  s50: 10px 40px 50px rgba(229, 233, 246, 0.4),
  s10hover: 0 4px 20px rgba(0, 0, 0, 0.08)
);
