/* -------------------------------------------------------------------------- */
/* Variables: Z Index                                                         */
/* -------------------------------------------------------------------------- */

$z-index: (
  header: 9,
  header-burger-menu: 2,
  hero-banner-bg: 1,
  services-bg: 1,
  services-head: 2,
  services-list: 2,
  services-link: 3,
  section-description-bg: 1,
  article-bg: 1,
  article-list: 2,
  article-img-bg: 1,
  article-img-link: 2,
  testimony-dots: 1,
  testimony-bg-1: -1,
  testimony-bg-2: 1,
  footer: 1,
  footer-bg: 2
);
