/* -------------------------------------------------------------------------- */
/* Mixins: Font                                                               */
/* -------------------------------------------------------------------------- */

@mixin font-family($name) {
  src: url(../../../../../public/asset/font/#{$name}.eot);
  src: url(../../../../../public/asset/font/#{$name}.eot?#iefix) format("embedded-opentype"), url(../../../../../public/asset/font/#{$name}.woff2) format("woff2"),
    url(../../../../../public/asset/font/#{$name}.woff) format("woff"), url(../../../../../public/asset/font/#{$name}.ttf) format("truetype"),
    url(../../../../../public/asset/font/#{$name}.svg##{$name}) format("svg");
}

@mixin font-icon {
  @font-face {
    font-family: "Trafalgar";
    src: url(../../../../../public/asset/font/Trafalgar.eot?dvihg9);
    src: url(../../../../../public/asset/font/Trafalgar.eot?dvihg9#iefix) format("embedded-opentype"), url(../../../../../public/asset/font/Trafalgar.ttf?dvihg9) format("truetype"),
      url(../../../../../public/asset/font/Trafalgar.woff?dvihg9) format("woff"), url(../../../../../public/asset/font/Trafalgar.svg?dvihg9#Trafalgar) format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
}
